body {
    margin: 0;
    background-color: rgba(255, 255, 246, 0.7);
    opacity: 80%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#logo {
    margin-left: 15px;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    list-style-type: none;
}

main {
    padding: 100px 20% 40px 20%;
    color: #888888;
    text-align: center;
    font-family: Arial, sans-serif;
}

main.info {
    display: flex;
    justify-content: space-between;
}

main.info article {
    width: 40%
}

footer {
    padding: 15px;
    text-align: center;
    background-color: black;
    color: #fffff6;
}