main.info {
    display: flex;
    justify-content: space-between;
}

main.info article {
    width: 40%
}

footer {
    padding: 15px;
    text-align: center;
    background-color: black;
    color: #fffff6;
}

footer p {
    margin: 0;
    line-height: 18px;
}