/* Layout */
body {
    margin: 0;
    background-color: rgba(255, 255, 246, 0.7);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffff6;
}

main {
    padding: 100px 10% 40px 10%;
}

main.info {
    display: flex;
}

.input-container {
    text-align: center;
    flex: 0 0 45%;
}

@media only screen and (min-width: 960px) {
    main.info {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    main.info {
        flex-direction: column;
    }
}


/* Text */
h1,
h3,
main p {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #595959;
}

h1, h3 {
    font-weight: normal;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

main p {
    font-size: 18px;
    line-height: 26px;
}


/* List and link */
ul {
    padding: 0;
}

li {
    list-style-type: none;
    font-family: Arial, sans-serif;
}

nav ul {
    display: flex;
    margin-right: 15px;
}

nav a {
    color: #595959;
    text-decoration: none;
}

nav li:hover a,
nav li.selected {
    color: #ffd700;
    text-decoration: underline;
}

nav li:hover a {
    cursor: pointer;
}

main li {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #595959;
}


/* Image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.profile-pic {
    width: 250px;
    height: auto;
    border-radius: 180px;
}


/* Form */
input,
textarea {
    margin: 10px auto;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 16px;
}

input {
    padding: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 80%;
}

input[type="submit"] {
    width: 60%;
    background-color: #4CAF50;
    color: #FFFFFF;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45A049;
}

textarea {
    width: 84%;
    resize: none;
    font-family: Arial, sans-serif;
}

textarea::placeholder {
    font-family: Arial, sans-serif;
}