/* Layout */
body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

main {
    padding: 150px 8% 100px 8%;
}

section.row-container {
    display: flex;
    align-items: center;
}

article {
    margin-bottom: 80px;
}

section.stand-alone {
    text-align: center;
}

.half-col {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forty-col {
    flex: 0 0 40%;
}

.sixty-col {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    background-color: grey;
}

/*Media query for forms*/
@media only screen and (min-width: 960px) {

}

@media only screen and (max-width: 960px) {

}


/* Menu and List */
ul {
    padding: 0;
}

nav ul {
    display: flex;
    margin-right: 15px;
}

nav li {
    list-style-type: none;
}

/*TODO: Change Font*/
nav li.selected {
    font-family: "Arial", sans-serif;
}

nav a {
    text-decoration: none;
}

nav li:hover a,
nav li.open {
    color: #ffd700;
    text-decoration: underline;
}

nav li:hover a {
    cursor: pointer;
}

main ul {
    margin: 0;
}

main li {
    list-style-position: inside;
    font-size: 18px;
    line-height: 22px;
}


/* Text */
.text {
    font-family: "Aptos", sans-serif;
    color: grey;
}

h1, h3 {
    font-weight: normal;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h3.div-title {
    margin-top: 200px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}

h3.article-title {
    margin-bottom: 0px;
}

/*TODO: Placehoder logo*/
header p {
    font-size: 18px;
    padding-left: 20px;
}

main p {
    text-align: justify;
    font-size: 20px;
    line-height: 36px;
}

/*TODO: Change font */
footer p {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: white;
}


/* Image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.profile-pic {
    width: 250px;
    height: auto;
    border-radius: 160px;
    border: solid 1px
}


/* Form */
form {
    text-align: center;
}

input,
textarea {
    margin: 10px auto;
    border: 1px solid #595959;
    border-radius: 4px;
    font-size: 16px;
}

input {
    padding: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 60%;
}

textarea {
    width: 62%;
    resize: none;
    font-family: Arial, sans-serif;
}

button,
input[type="submit"] {
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

input[type="submit"] {
    width: 50%;
}

button {
    padding: 20px 30px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 16px;
}

/*TODO: Cambiare stile bottoni*/
button:hover,
input[type="submit"]:hover {
    background-color: #006837;
}